html,body,#viewport,#viewport > div
    reset-box-model()
    reset-font()
    reset-list()

    height: 100%


.main-slider
    overflow:hidden
    height: 100%

.item
	background-image: url('sp-bg.jpg')
	background-size: cover
	position:relative
.qdf-logo
	position: absolute
	top: rem(2rem)
	left: rem(1.2rem)
	background-image: url('common-logo.png')
	background-size: cover
	width: rem(6rem)
	height: rem(2.2rem)
	animate('swing', 2s, both, 1s, infinite)

.item .sr-1-headline
	display:none
.item-active .sr-1-headline
	position: absolute
	display: block
	top: 40%
	left: 50%
	margin-left: rem(-7rem)
	background-image: url('sr-1-headline.png')
	background-size: cover
	width: rem(14rem)
	height: rem(4rem)
	animate('bounceInDown', 1s, both, 1s)

.item .sr-1-santa-clau
	display:none
.item-active .sr-1-santa-clau
	position: absolute
	display: block
	bottom: 0
	left: 50%
	margin-left:rem(-5.5rem)
	background-image: url('sr-1-santa-clau.png')
	background-size: cover
	width: rem(11.5rem)
	height: rem(11rem)
	animate('zoomIn', 1s, both, 1.8s)
	
.item .sr-2-jeep
	display:none
.item-active .sr-2-jeep
	position: absolute
	display: block
	bottom: 0
	left: 15%
	background-image: url('sr-2-jeep.gif')
	background-size: cover
	width: rem(14rem)
	height: rem(8rem)
	animate('lightSpeedIn', 1s, both, 1.5s)
	
.item .sr-2-iceland
	display:none
.item-active .sr-2-iceland
	position: absolute
	display: block
	bottom: 0
	left: 0
	right:0
	background-image: url('sr-2-iceland.gif')
	background-size: cover
	height: rem(20rem)
	
.item .sr-2-headline
	display:none
.item-active .sr-2-headline
	position: absolute
	display: block
	bottom: 50%
	right: 10%
	background-image: url('sr-2-headline.png')
	background-size: cover
	width: rem(16rem)
	height: rem(2rem)
	animate('lightSpeedIn', 1s, both, 0.5s)
	
.item .sr-2-text
	display:none
.item-active .sr-2-text
	position: absolute
	display: block
	bottom: 36%
	right: 10%
	background-image: url('sr-2-text.png')
	background-size: cover
	width: rem(8rem)
	height: rem(3rem)
	animate('lightSpeedIn', 1s, both, 1s)

.item .sr-3-map,
.item-active .sr-3-map
	position: absolute
	display: block
	bottom: 0
	left: 0
	right: 0
	background-image: url('sr-3-map.gif')
	background-size: 100% 100%
	height:70%

.item .sr-3-ancor-1
	display:none
.item-active .sr-3-ancor-1
	position: absolute
	display: block
	bottom: 23%
	left: 6%
	background-image: url('sr-3-ancors.png')
	bacground-position: top left
	background-size: cover
	width: rem(24)
	height: rem(31)
	animate('bounceIn', 0.3s, both, 1s)

.item .sr-3-ancor-2
	display:none
.item-active .sr-3-ancor-2
	position: absolute
	display: block
	bottom: 36.5%
	left: 21%
	background-image: url('sr-3-ancors.png')
	background-position: -24.5px 0
	background-size: cover
	width: rem(24)
	height: rem(31)
	animate('bounceIn', 0.3s, both, 1.3s)
	
.item .sr-3-ancor-3
	display:none
.item-active .sr-3-ancor-3
	position: absolute
	display: block
	bottom: 42%
	left: 46.5%
	background-image: url('sr-3-ancors.png')
	background-position: -49px 0
	background-size: cover
	width: rem(24)
	height: rem(31)
	animate('bounceIn', 0.3s, both, 1.6s)

.item .sr-3-ancor-4
	display:none
.item-active .sr-3-ancor-4
	position: absolute
	display: block
	bottom: 47%
	left: 68.5%
	background-image: url('sr-3-ancors.png')
	background-position: -73.5px 0
	background-size: cover
	width: rem(24)
	height: rem(31)
	animate('bounceIn', 0.3s, both, 1.9s)
	
.item .sr-3-ancor-5
	display:none
.item-active .sr-3-ancor-5
	position: absolute
	display: block
	bottom: 41.5%
	left: 78.5%
	background-image: url('sr-3-ancors.png')
	background-position: -98px 0
	background-size: cover
	width: rem(24)
	height: rem(31)
	animate('bounceIn', 0.3s, both, 2.2s)

.item .sr-3-ancor-6
	display:none
.item-active .sr-3-ancor-6
	position: absolute
	display: block
	bottom: 15%
	left: 83%
	background-image: url('sr-3-ancors.png')
	background-position: -122.5px 0
	background-size: cover
	width: rem(24)
	height: rem(31)
	animate('bounceIn', 0.3s, both, 2.5s)

.item .sr-3-ancor-7
	display:none
.item-active .sr-3-ancor-7
	position: absolute
	display: block
	bottom: 35.5%
	left: 67%
	background-image: url('sr-3-ancors.png')
	background-position: -147px 0
	background-size: cover
	width: rem(24)
	height: rem(31)
	animate('bounceIn', 0.3s, both, 2.8s)

.item .sr-3-ancors-text
	display:none
.item-active .sr-3-ancors-text
	position: absolute
	display: block
	bottom: 8%
	left: 0
	right: 0
	background-image: url('sr-3-ancors-text.gif')
	background-size: cover
	height:50%
	animate('bounceIn', 0.3s, both, 2.8s)
	
.item .sr-3-text
	display:none
.item-active .sr-3-text
	position: absolute
	display: block
	bottom: 60%
	left: 10%
	background-image: url('sr-3-text.png')
	background-size: cover
	width:rem(9.5rem)
	height:rem(6rem)
	animate('fadeInDown', 2s, both, 3s)