html,body,#viewport,#viewport > div
    reset-box-model()
    reset-font()
    reset-list()
     
    height:100%


.slider
    overflow:hidden;
    height:100%

.slider .item-1
    background-color:blue
